@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: initial;
    overflow: hidden;
}

html, body {
    background: linear-gradient(147deg, #000000, #d90000, #b00000);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    -o-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

title {
    font-weight: bold;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}

.header {
    font-size: 48px;
    color: #48aa52;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


body {
    padding-top: 10px;
    font-family: Prompt;
    font-size: 16px;
    font-weight: 400;
    -webkit-backdrop-filter: blur(3px);
    color: #fff;
}


.tab-container {
    margin-top: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #48aa52; /* Default color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #3a8a4a; /* Hover color */
}

.tab-button.active {
    background-color: #367a3d; /* Darker color when active */
}

.tab-content {
    text-align: center;
}

#imagePreview {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 20px; /* Adjust spacing above */
}

#preview {
    max-width: 100%; /* Make sure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    display: none; /* Hide initially */
    margin: 0; /* Reset margin */
}



#particles-js {
    position: fixed;
    height: 100%;
    width:100%;
    background: rgba(255, 0, 0, 0);
    z-index: -1;
}

.info-section {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-header {
    padding-top: 50px;
    font-size: 32px;
}
.about-text {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.line {
    width: 180px;
    height: 2px;
    background-color: white;
    margin: 10px 0;
    align-items: center;
}
.social-links {
    display: flex;
    align-items: center; /* Center items horizontally */
}

.shape-drawing-section {
    margin-top: 80px;
}

.logo {
    width: 80px;
    height: 80px;
    transition: transform 0.3s;
    fill: #48aa52
}
.logo:hover {
    transform: scale(1.1);
}



