@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400..900&display=swap');

html {
    scroll-behavior: initial;
    overflow: hidden;
}

body {
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.centered-section {
    text-align: center; /* Center the text within the section */
    margin: 40px 0; /* Add vertical space around the section */
}

.centered-section p {
    text-align: left; /* Align the paragraph text to the left */
    display: inline-block; /* Ensure the text block is only as wide as its content */
}


.top_s {
    width: 50px;
    height: 50px;
    size: 20px;
    transition: transform 0.6s ease; /* Smooth transition for the transform property */
    margin-right: 20px;
}

.top_s:hover {
    transform: rotate(180deg); /* Rotate the logo 360 degrees */
    
}

.header {
    font-family: Mukta;
    font-size: 50px;
    color: #48aa52;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}


body {
    padding-top: 10px;
    font-family: Prompt;
    font-size: 16px;
    font-weight: 400;
    -webkit-backdrop-filter: blur(3px);
    color: #fff;
}

#canvas3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep it behind all other content */
}


.tab-container {
    margin-top: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #48aa52; /* Default color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    font-family: Prompt;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #3a8a4a; /* Hover color */
}

.tab-button.active {
    background-color: #367a3d; /* Darker color when active */
}

.tab-content {
    text-align: center;
}

#imagePreview {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 20px; /* Adjust spacing above */
}

#preview {
    max-width: 100%; /* Make sure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    display: none; /* Hide initially */
    margin: 0; /* Reset margin */
}



#particles-js {
    position: fixed;
    height: 100%;
    width:100%;
    background: rgba(255, 0, 0, 0);
    z-index: -1;
}

.info-section {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-header {
    padding-top: 50px;
    font-size: 32px;
}
.about-text {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.line {
    width: 180px;
    height: 2px;
    background-color: white;
    margin: 10px 0;
    align-items: center;
}
.social-links {
    display: flex;
    align-items: center; /* Center items horizontally */
}

.shape-drawing-section {
    margin-top: 80px;
}

.logo {
    width: 80px;
    height: 80px;
    transition: transform 0.3s;
    fill: #48aa52
}
.logo:hover {
    transform: scale(1.1);
}



body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    overflow: hidden;
}

